/algorithms/__pycache__/*
/datasets/*
*.csv
*.pyc
/.idea/*
*.ipynb_checkpoints*
/experiments/gbm_regression_on_simulated_data/interaction/catboost_info/catboost_training.json
/experiments/gbm_regression_on_simulated_data/interaction/catboost_info/learn/events.out.tfevents
/experiments/gbm_regression_on_simulated_data/interaction/catboost_info/learn_error.tsv
/experiments/gbm_regression_on_simulated_data/interaction/catboost_info/time_left.tsv
/experiments/simplify_code/catboost_info/catboost_training.json
/experiments/simplify_code/catboost_info/learn/events.out.tfevents
/experiments/simplify_code/catboost_info/learn_error.tsv
/experiments/simplify_code/catboost_info/time_left.tsv
/experiments/gbm_regression_on_simulated_data/detect_uninformative_feature_simulated_data/catboost_info/catboost_training.json
/experiments/gbm_regression_on_simulated_data/detect_uninformative_feature_simulated_data/catboost_info/learn/events.out.tfevents
/experiments/gbm_regression_on_simulated_data/detect_uninformative_feature_simulated_data/catboost_info/learn_error.tsv
/experiments/gbm_regression_on_simulated_data/detect_uninformative_feature_simulated_data/catboost_info/time_left.tsv
*catboost_info*
*.nbi
*.nbc
*pycache*
/experiments/breast_cancer/cb_model.json
/experiments/criteo_ctr/cb_model.json
